h1, h2, h3, h4, h5, h6 { color:#424E47;  }

h1.title, h2.title { border-bottom:1px solid #424E47; }

a, li a.active { color:#424E47; text-decoration:none; }

a:hover { color: #bfbfbf; text-decoration:underline; }

img.masked:hover, .field-type-image img:hover, .views-field-field-image img:hover { border: 1px solid #a2a2a2; }

blockquote { background:transparent url('images/gray/blockquote.png') no-repeat top left; }

#site-name a {  text-shadow: 0 1px 1px #999999, 0 -1px 1px #ffffff; color:#676767; }

#site-name a:hover { color:#838383; }

#slogan { color:#838383; text-shadow: 0 1px 2px #cacaca, 0 1px #787878;  }

#footer { clear:both; overflow:hidden;
background: #545454;
/* IE10 */
background-image: -ms-linear-gradient(top, #434343 0%, #656565 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #434343 0%, #656565 100%);
/* Opera */
background-image: -o-linear-gradient(top, #434343 0%, #656565 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #434343), color-stop(1, #656565));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #434343 0%, #656565 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #434343 0%, #656565 100%);
/* IE6-9 */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#434343', endColorstr='#656565');
}

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6,
#subfooter h1, #subfooter h2, #subfooter h3, #subfooter h4, #subfooter h5, #subfooter h6 { text-shadow:0 2px 3px #2e2e2e; }

a.more, #edit-submit, #edit-preview, input.form-submit, #block-subscription-form input.form-submit,
.view-promoted-posts .views-field-view-node a {  text-shadow:0 1px 1px #2E2E2E;
/* background */
background: #9d1d34;
/* IE10 */
background-image: -ms-linear-gradient(top, #646464 0%, #454545 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #646464 0%, #454545 100%);
/* Opera */
background-image: -o-linear-gradient(top, #646464 0%, #454545 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #646464), color-stop(1, #454545));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #646464 0%, #454545 100%);
/* Proposed W3C Markup */
background-image: linear-gradient(top, #646464 0%, #454545 100%);
/* IE6-9 */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#646464', endColorstr='#454545'); }

a.more:hover, #edit-submit:hover, #edit-preview:hover, input.form-submit:hover, #block-subscription-form input.form-submit:hover,
.view-promoted-posts .views-field-view-node a:hover  {  background: #646464; }

#subfooter { background: #3f3f3f; }

/*
* Contact, Comments
*/
.contact-form label, .comment-form label { color:#838383; }

/*
* Latest blogposts
*/
.view-latest-blogposts .views-row { border-bottom:1px solid #838383; }

.view-latest-blogposts .views-row:after { border-bottom:1px solid #383838;  }

.view-latest-blogposts .views-field-field-image img {
-moz-box-shadow: 0px 2px 5px #434343; -webkit-box-shadow: 0px 2px 5px #434343; -o-box-shadow: 0px 2px 5px #434343; box-shadow: 0px 2px 5px #434343; }

.view-latest-blogposts .views-field-created { color: #d0d4d7; }

/*
* Twitter updates
*/
.twitter-title { text-shadow:0 2px 3px #2E2E2E; }

.twtr-widget { background:url('images/gray/twitter-bg.png') no-repeat; }

#footer .twtr-widget .twtr-tweet a { color:#a2a3a5 !important; }

/*
* Subscribe
*/
.subscription-title { text-shadow:0 2px 3px #2E2E2E; }

/**
 * Nice menus support
 */
#navigation-right ul.nice-menu li a { color:#616161; color:#4f4f4f; line-height:140%;
text-shadow:0 1px 0 #ffffff; }

#navigation-right ul.nice-menu li.menuparent, #navigation-right ul.nice-menu li.menuparent:hover { background: transparent url("images/gray/main-menu-expanded.png") no-repeat right 10px; }

#navigation-right ul.nice-menu li.menuparent ul { background: transparent url("images/gray/menu-top-bg.png") no-repeat 15px top; }

#navigation-right ul.nice-menu li.menuparent ul li { background-color: #7f7f7f; }

#navigation-right ul.nice-menu li.menuparent ul li.first { border-top:10px solid #7f7f7f; }

#navigation-right ul.nice-menu li.menuparent ul li.last{ border-bottom:10px solid #7f7f7f; }

#navigation-right ul.nice-menu li.menuparent ul li:hover { background-color: #383838; }

#navigation-right ul.nice-menu li.menuparent ul li a, #navigation-right ul.nice-menu li.menuparent ul li a:hover { color:#ffffff; background:none; text-shadow:0 1px 2px #5e5e5e; }

#navigation-right ul.nice-menu li li.menuparent:hover { background-color: #383838; }

/* Javascript slideshow */
#slider-controls ul li a:hover, #slider-controls ul li.activeSlide a { background:url('images/gray/active-slide.png') no-repeat center center; }

#content-slider-controls ul li a:hover, #content-slider-controls ul li.activeSlide a, .yoxview-item a:hover { border: 1px solid #a2a2a2;
 /* shadow */
-webkit-box-shadow:0 1px 1px #b8b8b8;  -moz-box-shadow:0 1px 1px #b8b8b8;  box-shadow:0 1px 1px #b8b8b8; }

/**
 * Company info
 */
ul.company-info li.phone { background:url('images/gray/company-phone.png') no-repeat left;}

ul.company-info li.email { background:url('images/email.png') no-repeat left; }



#toTop { background-color:#3f3f3f; }

table th { background:#a2a3a5; }

/*
* Poll
*/
.poll .bar .foreground { background-color: #545454; }


/*     #####  BEGIN CUSTOM CSS  #####     */

a, li a{
	color: #3a7754;
}

ul.company-info li.facebook { background:url('images/facebook.png') no-repeat left; }

ul.company-info li.twitter { background:url('images/twitter.png') no-repeat left; }

ul.company-info li.rss { background:url('images/rss.png') no-repeat left; }

.node-sermon-series{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.node-type-sermon-series .region-content .block{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.audio-download .file {
	margin-left: 5px;
}

.page-sermons table td.active{
	background: none;
}

.page-sermons table td.views-field-field-date{
	padding-top: 32px;
	width: 130px;
}

.page-sermons table td.views-field-field-teaser-image{
	width: 300px;
}

.recentsermondeets{
	padding-left: 120px;
}

#navigation-right ul.nice-menu li a:hover { text-decoration:underline; }

#block-views-sermon-viewer-block{ margin:0px; }

.node-mt-product .content .field-label-inline { margin-bottom:5px; }

.node-mt-product .content .field-name-field-audio #audioplayer2 { margin-left:60px; margin-bottom:5px; }

.node-mt-product .content .field-type-image { padding:0px; }

.view-deacons .user {
	margin-bottom: 40px;
}

.view-deacons .views-field-field-photo {
	float: left;
	padding-right: 10px;
	margin-top: -5px;
}

.view-deacons .views-field-field-name {
	font-size: 20px;
	font-weight: bold;
}

.view-deacons .views-field-field-last-name {
	font-size: 20px;
	font-weight: bold;
}

.view-deacons .views-field-field-role {
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.jp-playlist ul li a:after {
	content: "(right-click and save-as to download)";
}

.view-deacons .views-field-field-photo .photo-wrap {
	padding-top: 40px;
	margin-top: -40px;
}

.view-deacons .views-field-field-photo img {
	padding: 40px;
	border: 1px solid #bfbfbf;
	padding: 5px;
	margin: 0;
	-moz-box-shadow: 0px 1px 4px #cccccc;
	-webkit-box-shadow: 0px 1px 4px #cccccc;
	-o-box-shadow: 0px 1px 4px #cccccc;
	box-shadow: 0px 1px 4px #cccccc;
	background: #fcfcfc;
	background-image: -ms-linear-gradient(top,#ededed 0%,#ffffff 100%);
	background-image: -moz-linear-gradient(top,#ededed 0%,#ffffff 100%);
	background-image: -o-linear-gradient(top,#ededed 0%,#ffffff 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ededed),color-stop(1,#ffffff));
	background-image: -webkit-linear-gradient(top,#ededed 0%,#ffffff 100%);
	background-image: linear-gradient(top,#ededed 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#ffffff');
}

.view-deacons .views-label {
	font-weight: bold;
}

.view-deacons .views-field {
	margin-bottom: 10px;
}

.view-deacons .question {
	margin-left: 344px;
}

.view-deacons table.views-view-grid {
	border: none;
	margin-bottom: 40px;
}

.view-deacons table.views-view-grid tbody tr td {
	position: relative;
	border: none;
	padding: 0px;
}

.view-deacons table.views-view-grid tbody tr td .views-field-field-name {
	position: absolute;
	left: 12px;
	top: 87px;
	visibility: hidden;
}

.view-deacons table.views-view-grid tbody tr td .views-field-field-name a {
	color: #5a5a5a;
}

.view-deacons table.views-view-grid tbody tr td .views-field-field-name a:hover {
	color: #5a5a5a;
	text-decoration: none;
}

.view-deacons table.views-view-grid tbody tr td .views-field-field-role {
	position: absolute;
	left: 12px;
	top: 92px;
	visibility: hidden;
}

.view-deacons table.views-view-grid tbody tr td .views-field-field-title {
	position: absolute;
	left: 12px;
	top: 126px;
	visibility: hidden;
}

.view-deacons table.views-view-grid tbody tr td:hover .views-field-field-name,
.view-deacons table.views-view-grid tbody tr td:hover .views-field-field-role,
.view-deacons table.views-view-grid tbody tr td:hover .views-field-field-title {
	visibility: visible;
}

.view-deacons table.views-view-grid tbody tr td:hover .views-field-field-photo img {
	opacity: .4;
}




